@media (max-width: 375px) {
    .card {
        width: 250px;
        height: 400px;
        border-radius: 20px;
        

        &__img {
            width: 250px;
            height: 250px;
            padding: 9.5px;
            border-radius: 20px;
        }
        &__title {
            
        }
        &__title {
            font-size: .7em;
        }
        &__subtitle {
            font-size: .8em;
        }
    }
}
