@import url(https://fonts.google.com/specimen/Outfit);

//-----------------------------------------------------------

// font 


$fontFamilyMain: Outfit, sans-serif;
$fontSizeP: 14px;
$fontWeightH2: 700;
$fontWeightH3: 400;



//-----------------------------------------------------------

// color

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%)
